body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: wheat;
}

.image-slider{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px  4px 8px rgba(0, 0, 0, .3);
    cursor: pointer;
}
.image-container{
    display: flex;
    transition: transform .4s ease-in-out;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    font-size: 20px;
    opacity: .5;
}
.btn:hover{
    opacity: 1;
}
.btn.prev{
    left: 10px;
}
.btn.next{
    right: 10px;
}